<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>{{meta_title}}</title>

  <meta name="description" content="{{meta_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{include "css/main.css"}}

  {{ghost_head}}
</head>
<body class="{{body_class}}">

  <header id="site-head">
    <h1 id="blog-title">
      <a sref="blog">
        <img src="http://www.gravatar.com/avatar/1cda89f1fbe853160953a0bb5aabe5f5?s=168" alt="Lucas">
      </a>
    </h1>

    <ul id="site-navigation">
      <li><a ui-sref="blog" class="active">Blog</a></li>
      <li><a sref="projects">Projects</a></li>
      <li><a sref="ask">Ask a Question</a></li>
      <li><a sref="about">About</a></li>
    </ul>

    {{! The next line is an example of how to output the cover image that can be set in the Ghost admin area. Uncomment the line if you wish to use it. }}
    {{!-- {{#if @blog.cover}}<img src="{{@blog.cover}}" alt="Blog Cover" />{{/if}} --}}
  </header>

  <!-- Main App view -->
  <main id="site-content"
    ui-view></main>

  <footer id="site-footer">
    <div class="inner">
      <a href="{{@blog.url}}/rss/">Subscribe!</a>
      <section>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
      <section>Proudly published with <a href="http://ghost.org">Ghost</a></section>
    </div>
  </footer>


  {{! Ghost scripts }}
  {{ghost_foot}}


  {{! Asset scripts }}


  {{! Applicationg configuration }}
  <script>var config = {{config}};</script>
  {{app "config.js"}}


  {{! Vendor components }}
  {{component "jquery/dist/jquery.js"}}
  {{component "angular/angular.js"}}
  {{component "angular-route/angular-route.js"}}
  {{component "angular-animate/angular-animate.js"}}
  {{component "angular-sanitize/angular-sanitize.js"}}
  {{component "angular-scroll/angular-scroll.js"}}
  {{component "angular-ui-router/release/angular-ui-router.js"}}
  {{component "lodash/dist/lodash.js"}}
  {{component "prism/prism.js"}}

  
  {{! Application modules }}
  {{app "blog/module.js"}}
  {{app "blog/router.js"}}
  {{app "blog/services.js"}}
  {{app "blog/filters.js"}}
  {{app "blog/controllers.js"}}


  {{! Application }}
  {{app "app.js"}}
  {{app "router.js"}}
  {{app "init.js"}}

</body>
</html>
