<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>{{meta_title}}</title>

  <meta name="description" content="{{meta_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  {{component "font-awesome/css/font-awesome.min.css"}}
  {{component "flag-icon-css/css/flag-icon.min.css"}}

  {{include "css/main.css"}}

  {{! Cache view templates }}
  {{#views}}
    <script type="text/ng-template" id="{{path}}">
      {{{markup}}}
    </script>
  {{/views}}

  {{ghost_head}}
</head>
<body class="{{body_class}}"
  ng-class="{
    'open-modal': modal,
    'home': state.name == 'home'
  }">
  <header id="site-head">
    <div id="site-head-inner">
      <h1 id="blog-profile">
        <a id="blog-title"
          ui-sref="home"
          ng-class="{ 'ready': ready }">
          <img src="http://www.gravatar.com/avatar/1cda89f1fbe853160953a0bb5aabe5f5?s=80" alt="Lucas">
          <span>Lucas Constantino Silva</span>
        </a>

        <ul id="social-links">
          <li><a href="//taller.net.br/#fourth" class="fa fa-taller"></a></li>
          <li><a href="//github.com/lucasconstantino" class="fa fa-github"></a></li>
          <li><a href="//twitter.com/luconsilva" class="fa fa-twitter"></a></li>
          <li><a href="//www.facebook.com/lucasconstantino" class="fa fa-facebook-square"></a></li>
          <li><a href="//plus.google.com/+LucasConstantinoSilva" class="fa fa-google-plus-square"></a></li>
        </ul>
      </h1>

      <ul id="site-navigation">
        <li>
          <a ui-sref="blog">
            <span data-hover="Blog">Blog</span>
          </a>
        </li>
        <li>
          <a ui-sref="talks">
            <span data-hover="Talks">Talks</span>
          </a>
        </li>
        <li class="disabled">
          <a ui-sref="projects">
            <span data-hover="Projects">Projects</span>
          </a>
        </li>
        <li class="disabled">
          <a ui-sref="ask">
            <span data-hover="Ask a Question">Ask a Question</span>
          </a>
        </li>
        <li class="disabled">
          <a ui-sref="about">
            <span data-hover="About">About</span>
          </a>
        </li>
        <li>
          <a ui-sref="home.language">
            <span>
              <i class="fa fa-language"></i>
            </span>
          </a>
        </li>
        <li>
          <a ui-sref="home">
            <span>
              <i class="fa fa-home"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    {{! The next line is an example of how to output the cover image that can be set in the Ghost admin area. Uncomment the line if you wish to use it. }}
    {{!-- {{#if @blog.cover}}<img src="{{@blog.cover}}" alt="Blog Cover" />{{/if}} --}}
  </header>

  <div class="wrapper">
    <!-- Main App view -->
    <main id="site-content"
      ui-view></main>

    <footer id="site-footer">
      <div class="footer-section">
        <div class="section-inner">
          <a href="{{@blog.url}}/rss/">Subscribe!</a>
          <section>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
          <section>Proudly published with <a href="http://ghost.org">Ghost</a></section>
        </div>
      </div>
    </footer>
  </div>

  <div class="modal-container" ng-click="closeModal($event)">
    <div ui-view="modal"></div>
  </div>

  {{! Ghost scripts }}
  {{ghost_foot}}


  {{! Asset scripts }}


  {{! Applicationg configuration }}
  <script>var config = {{config}};</script>


  {{! Vendor components }}
  {{component "jquery/dist/jquery.js"}}
  {{component "jquery-ui/jquery-ui.js"}}
  {{component "lodash/dist/lodash.js"}}
  {{component "angular/angular.js"}}
  {{component "angular-route/angular-route.js"}}
  {{component "angular-animate/angular-animate.js"}}
  {{component "angular-sanitize/angular-sanitize.js"}}
  {{component "angular-scroll/angular-scroll.js"}}
  {{component "angular-ui-router/release/angular-ui-router.js"}}
  {{component "angular-scroll/angular-scroll.js"}}
  {{component "angular-konami/angular-konami.js"}}
  {{component "angular-disqus/angular-disqus.js"}}
  {{component "angular-translate/angular-translate.js"}}


  {{! Application modules }}
  {{app "blog/module.js"}}
  {{app "blog/router.js"}}
  {{app "blog/services.js"}}
  {{app "blog/filters.js"}}
  {{app "blog/directives.js"}}
  {{app "blog/controllers.js"}}

  {{app "slides/module.js"}}
  {{app "slides/router.js"}}
  {{app "slides/services.js"}}
  {{app "slides/controllers.js"}}


  {{! Application }}
  {{app "app.js"}}
  {{app "filters.js"}}
  {{app "directives.js"}}
  {{app "config.js"}}
  {{app "router.js"}}
  {{app "i18n.js"}}
  {{app "init.js"}}

  {{! Asset Scripts}}
  {{include "scripts/header.js"}}

</body>
</html>
