<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{meta_title}}</title>

  <meta name="description" content="{{meta_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{asset "css/main.css"}}">

  <script>var config = {{config}};</script>

  {{ghost_head}}
</head>
<body class="{{body_class}}">

  <!-- Main App view -->
  <div ui-view></div>

  <header class="site-head">
    {{#if @blog.logo}}
      <a class="blog-logo" href="{{@blog.url}}">
        <img src="{{@blog.logo}}" alt="Blog Logo">
      </a>
    {{/if}}
    
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
    
    {{! The next line is an example of how to output the cover image that can be set in the Ghost admin area. Uncomment the line if you wish to use it. }}
    {{!-- {{#if @blog.cover}}<img src="{{@blog.cover}}" alt="Blog Cover" />{{/if}} --}}
  </header>

  <footer>
    <a href="{{@blog.url}}/rss/">Subscribe!</a>
    <section>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
    <section>Proudly published with <a href="http://ghost.org">Ghost</a></section>
  </footer>

  {{ghost_foot}}

  {{include "js/plugins.js"}}
  {{include "js/main.js"}}

  {{component "angular.js"}}
  {{component "angular"}}
</body>
</html>
